{% extends "layout.html" %}

{% block contentas %}
    
        <h1>Mano portfolio</h1>
        <h3>Live mixing'as</h3>
        <h5>Rumsh'13</h5>
        
        <iframe width="700" height="440" src="https://www.youtube.com/embed/npokmSzBoZ0?start=2702" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="700" height="440" src="https://www.youtube.com/embed/U3KpCPPDLOU?start=814" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
{% endblock contentas %}

